{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<div class="promote__item" style="background-image:url('{{ product.background }}')">
  <article{{ attributes }}>
    <a class="promote__link" href="{{ product_url }}">
      <div class="promote__content">
        <h3 class="promote__heading">{{ product.title.0 }}</h3>
        <div class="promote__price">{{ product.variation_price.0 }}</div>
        <p class="promote__cta btn--cta">{{ 'Read more'|t }}</p>
      </div>
    </a>
  </article>
</div>
