{% set items = [
  {
    'title' : 'Apple Iphone SE',
    'image' : 'https://staticshop.o2.co.uk/product/images/iphone5s-spacegrey-front-listStandard.png',
    'link' : '#',
  },
  {
    'title' : 'Apple Iphone 6s',
    'image' : 'https://staticshop.o2.co.uk/product/images/iphone5s-spacegrey-front-listStandard.png',
    'link' : '#'
  },
  {
    'title' : 'Apple Iphone 4',
    'image' : 'https://staticshop.o2.co.uk/product/images/iphone5s-spacegrey-front-listStandard.png',
    'link' : '#'
  },
  {
    'title' : 'Apple Iphone 5s',
    'image' : 'https://staticshop.o2.co.uk/product/images/iphone5s-spacegrey-front-listStandard.png',
    'link' : '#'
  },
  {
    'title' : 'Apple Iphone 6',
    'image' : 'https://staticshop.o2.co.uk/product/images/iphone5s-spacegrey-front-listStandard.png',
    'link' : '#'
  },
  {
    'title' : 'Apple Iphone 7',
    'image' : 'https://staticshop.o2.co.uk/product/images/iphone5s-spacegrey-front-listStandard.png',
    'link' : '#'
  }
]
%}

<div class="paragraph paragraph--product-list grid--6column">
  <div class="content-inner">
    <div class="paragraph__title">Paragraph Grid Items</div>
    <div class="paragraph__content">			
			{% for item in items %}
				<div class="grid__item">
					<div class="product-list {% if loop.last %}last-item last {% endif %}" {% if loop.last %} style="background-image:url('https://o2.15gifts.com/public/leap/public/images/ShopHomeBg.png');" {% endif %}>
						{% if loop.last %}
							<a href="{{ item.link }}">
								<p class="promote__cta btn--cta">More about it</p> 
							</a> 
						{% else %}
							<a href="{{ item.link }}">
								<img src="{{ item.image }}" alt="">
								<h4>{{ item.title }}</h4>
							</a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
    </div>
  </div>
</div>

<div class="paragraph paragraph--product-list grid--6column">
  <div class="content-inner">
    <div class="paragraph__title">Paragraph Grid Items has line</div>
    <div class="paragraph__content">			
			{% for item in items %}
				<div class="grid__item">
					<div class="product-list has-line {% if loop.last %}last-item{% endif %}">
						<a href="{{ item.link }}">
							<img src="{{ item.image }}" alt="">
							<h4>{{ item.title }}</h4>
						</a>
					</div>
				</div>
			{% endfor %}
    </div>
  </div>
</div>

