<div class="promote__item align-{{ align }}">
	<a class="promote__link" href="{{ link }}" title="{{ title }}">
		<img class="promote__image" src="{{ image }}" alt="{{ title }}">
		<div class="promote__content align-{{ align }}">
			<h3 class="promote__heading">{{ heading }}</h3>
			<p class="promote__text">{{ text }}</p>
			<p class="promote__cta">{{ cta }}</p>
		</div>
	</a>
</div>
